<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>www.c1.com</title>

</head>
<body>

<!--<script id="login" th:src="@{http://www.sso.com:8091/js/sso-login.js}"
        redirectUrl="http://www.c1.com:8081"
        gameid="1"
        response_type="code"
        client_id="vB1380rgN7LEJwzSRq3Yiq9wW2xNgm6q">
</script>-->
<script id="login" th:src="@{http://oa.sso.iccgame.com/sso/server/js/sso-login.js}"
        redirectUrl="http://www.c1.com:8081"
        gameid="1"
        response_type="code"
        client_id="1589440911791429577">
</script>

</body>
</html>